# Python relative
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
.eggs/

# Testing & Quality
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.tox/
# 排除你剛才寫的臨時測試腳本
pg_test.py
playground/

# Development & Editors
.vscode/
.idea/
*.swp
*.swo
.env

# Data & Logs
*.log
logs/
data/
!data/.gitkeep 
*.csv
*.json
*.sqlite
*.gz
*.parquet   

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS (Mac & Windows)
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini